---
import YukinaConfig from "../../yukina.config";
import GlobalStyles from "./GlobalStyles.astro";
import ScriptSetup from "./ScriptSetup.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="canonical" href={canonicalURL} />

<title>{YukinaConfig.title}</title>
<meta name="title" content={YukinaConfig.title} />
<meta name="description" content={YukinaConfig.description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={YukinaConfig.title} />
<meta property="og:description" content={YukinaConfig.description} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={YukinaConfig.title} />
<meta property="twitter:description" content={YukinaConfig.description} />
<!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->

<!-- RSS AutoDiscovery -->
<link
  rel="alternate"
  type="application/rss+xml"
  title={YukinaConfig.title}
  href={new URL("rss.xml", Astro.site)}
/>

<!-- SiteMap -->
<link rel="sitemap" href="/sitemap-index.xml" />



<GlobalStyles />
<ScriptSetup />
